<p id="notice"><%= notice %></p>


<%= render 'information', patient: @patient %>

<div class="btn btn-primary show-btn">
<%= link_to 'Edit', edit_patient_path(@patient) %>
</div>

<div class="btn btn-primary show-btn">
<%= link_to 'Back', patients_path %>
</div>
